django>=5.0,<7.0
djangorestframework>=3.15
django-cors-headers>=4.3
mysqlclient>=2.2
pymysql>=1.1
cryptography>=42.0
gunicorn>=22.0
celery[redis]>=5.4
uuid_utils>=0.9
django-celery-beat>=2.6
redis>=5.0
python-docx>=1.1
openpyxl>=3.1
jinja2>=3.1
requests>=2.31
beautifulsoup4>=4.12
lxml>=5.1
pyyaml>=6.0
